<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="App Talent Day"/>
        <meta name="author" content="jmat73" />
        <title>App Talent Day</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../img/DTD.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="./css/menu.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">App Talent Day</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="menu.html">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Seguimiento</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- ficha_empresa-->
        <header class="ficha_empresa">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Busca empresas del DTD</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <form action="/api/empresas/fichaEmpresa" method="GET" class="form-inline">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Nombre de la empresa" name="enterpriseName" aria-label="Nombre de la empresa">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </div>
                        </form>                        
                    </div>
                    <div class="col-lg-8 align-self-end">
                        <h5 class="text-white font-weight-bold">Introduce el Nombre de la Empresa de la que deseas obtener la información</h5>
                        <hr class="divider" />
                    </div>                
                </div>
            </div>
        </header>
        <!-- Ficha Empresa (oculta por defecto) -->
            <div id="fichaEmpresa" class="container px-4 px-lg-5 mt-5" style="display: none;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="enterpriseName"></h5>
                        <p class="card-text" id="businessSector"></p>
                        <p class="card-text" id="address"></p>
                        <p class="card-text" id="headquarters"></p>
                        <a href="#" class="btn btn-primary" id="socialMediaLink">Redes Sociales</a>
                    </div>
                </div>
            </div>
        
       
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Company Name</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="/js/fichaEmpresa.js"></script>
    </body>
</html>
