<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="App Talent Day"/>
        <meta name="author" content="jmat73" />
        <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../img/DTD.ico" />
        
    <title>App Talent Day</title>
    <link rel="stylesheet" media="all" href="./css/styles.css" />
</head>
<body>
<div class="context">
        <h1>EXPRIME DTD</h1>
        <!--  Button 10 -->
        <div class="wrapper">
            <a href="menu.html" class="btn10">
                <span>Expresa tu Talento</span>
            <div class="transition"></div>
            </a>
        </div>
        
          
        
    </div>


<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
</body>
</html>